.List_grp{
    border: 1px solid black;
    width: 20%;
    float: left;
    height: 100vh;
}

.List_grp h1{
    text-align: center;
    font-size: 35px;
    padding: 20px;
    /* background-color: #ffdaab; */
    color: #411f2d;
}

.List_grp .Nav-link{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    padding: 10px;

}

